.nav {
    padding: 0rem 0;
    background-color: rgb(125, 180, 70);
  }
  
  @media (max-width: 600px) {
    .nav {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .navContainer {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    justify-content: space-between;
   
  }
  
  .logo {
    max-width:5rem;
    max-height: 10rem; 
  }
 
  

  

  
  .logo,
  .description {
    text-align: center;
  }
  
  .description {
    line-height: 1.5;
    font-size: 1.5rem;
    margin: 0;
  }
  
  .description a {
    display: flex;
    align-items: center;
  }
  
  .description svg {
    margin-right: .4em;
  }

 /* Mobile */
@media (max-width: 700px) {
    
   
      
      .logo {
        margin-left: 3rem;
       
      }
      
      .logo,
      .description {
        text-align: center;
      }
      
      .description {
        line-height: 1.5;
        font-size: 1.5rem;
        margin-right: 3rem;
        
      }
      
      .description a {
        display: flex;
        align-items: center;
      }
      
      .description svg {
        margin-right: .4em;
      }
    }