 .container {
    display: grid;
    max-height: 2rem;
    justify-content: center;
    background-color: #fff;
    min-width: 50%;
    max-width: 100%;
width: calc((480px - 100%) * 480);  
  }
  .description {
    font-size: 1.5rem;
    margin: .5rem;
  }
  .description {
    display: grid;
    align-items: center;
  }
/* Desktop */
@media (min-width: 40rem) {
  .container {
    width: 80rem;
  }
    .description {
        text-align: center;
      }
     .description {
        font-size: 1.5rem;
        margin-right: 3rem;
        }
      .description a {
        display: grid;
        align-items: center;
      }
    }
    