 .container {
    display: flex;
    width: 100%;
    padding: .5rem 0;
    max-height: 2rem;
    justify-content: center;
    background-color: #fff;
   
  }
  .description {
    font-size: 1.5rem;
    margin: .5rem;
  }
  .description {
    display: flex;
    align-items: center;
  }
/* Desktop */
@media (min-width: 40rem) {
    .description {
        text-align: center;
      }
     .description {
        font-size: 1.5rem;
        margin-right: 3rem;
        }
      .description a {
        display: flex;
        align-items: center;
      }
    }
    