* {
  border: none;
}
.section {
 
  background-color: rgb(18, 176, 213);
  background: cover;
  padding: 0;
  
}
.grandstander {
  color: #1a4e8a;
}
.cormorant {
  color: #fff;
}
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
    width: var(--max-width);
    max-width: 100%;
    grid-template-areas:
    "fullname fullname fullname fullname"
    "phone phone phone phone"
    "email email email email"
    "address address address address"
    "button button button button";
    
  }
  .label {
    font-size: 3rem;
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
  }
  .fullname {
    grid-area: fullname;
    width: 5rem;

  }
   .phone {
    grid-area: phone;
    width: 5rem;
   }
  .email {
    grid-area: email;
    width: 5rem;
  }
.address {
  grid-area: address;
  width: 5rem;
}
  .button {
    grid-area: button;
    width: 5rem;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #1a4e8a;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  
  }
  
  .button:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    
    color: #ff44cc;
   
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  
  
  