
.section {
 
  background-color: rgb(201, 186, 231);
  background: cover;
  padding: 0;
  
}
.grandstander {
  color: #1a4e8a;
}
.cormorant {
  color: #fff;
}
 
 
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
    width: var(--max-width);
    max-width: 100%;
   ;
    
  }
  
  .label {
    font-size: 1rem;
    float: left;
    text-align: right;
    grid-column: 1 / 2;
    margin-left: 5rem;
    
  }
 
  .fullname {
    
    grid-column: 2 / 3;
    
    border: none;
    background-color: #54b3d6;
    padding:1rem;
    margin:1rem 0;

  }
   .phone {
    grid-column: 2 / 3;
    border: none;
    background-color: #54b3d6;padding:1rem;
    margin:1rem 0;
   }

  .email {
    grid-column: 2 / 3;
    border: none;
    background-color: #54b3d6;padding:1rem;
    margin:1rem 0;
  }
.address {
  grid-column: 2 / 3;
    border: none;
    background-color: #54b3d6;
    padding:1rem;
    margin:1rem 0;
}
  .button {
    grid-column: 2 / 3;
    border: none;
    background-color: #54b3d6;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #1a4e8a;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    padding:1rem;
    margin:1rem 0;
  
  }
  
  .button:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    
    color: #ff44cc;
   
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  
  
  