
.section {
 
  background-color: rgb(255 255 255);
  background: cover;
  padding-top: 1rem;
  
}
.main {
  max-width: 30rem;
    margin: 0 auto;
}
.grandstander {
  color: #1a4e8a;
}
.cormorant {
  color: gray;
}
 .desc {
  
    font-size: 1.3rem;
    margin-top: 0;
    width: 20rem;
    margin-left: .3rem;
 }
 .desc h5 {
  font-size: 2rem;
  color: #1a4e8a;
 }
 .title {
  
    width: 20rem;
    margin-bottom: 0.2rem;
  
 }
 .title h1 {
  font-size: 3rem;
}
  .grid {
    padding: 1rem;
    display: grid;
    grid-auto-rows: 2rem;
    grid-row-gap: 0.5rem;
    width: 20rem;
  }

  .l_name {
    font-size: 1rem;
    display: block;
    width: 100%; 
    grid-row: 1 / 2;
  }
  .l_phone {
    font-size: 1rem;
    display: block;
    width: 100%; 
    grid-row: 3 / 4;
  }
  .l_email {
    font-size: 1rem;
    display: block;
    width: 100%; 
    grid-row: 5 / 6;
  }
  

  .l_message {
    font-size: 1rem;
    display: block;
    width: 100%; 
    grid-row: 7 / 8;
  }
  .i_name {
    
    grid-row: 2 / 3;
    display: block;
    border: none;
    background-color: #54b3d6;
    width: 100%;


  }
   .i_phone {
    grid-row: 4 / 5;
    display: block;
    border: none;
    background-color: #54b3d6;
    width: 100%;

   }

  .i_email {
    grid-row: 6 / 7;
    border: none;
    background-color: #54b3d6;
    display: block;
    width: 100%;
  }

.i_message {
  grid-row: 9 / 13;
    border: none;
    background-color: #54b3d6;
    display: block;
    width: 100%;
}
  .button {
    grid-row: 14 / 16;
    display: block;
    border: none;
    background-color: #54b3d6;
    box-shadow: 0 8px 8px -4px lightblue;;
    color: #1a4e8a;
    
    
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-family: grandstander;
    font-size: 3rem;
    
  
  }
  
  .button:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    
    color: #ff44cc;
   
  }
  
  @media (min-width: 40rem) {

    .main {
      max-width: 51rem;
        margin: 0 auto;
    }
    .desc {
  
      font-size: 3rem;
      margin-top: 0;
      width: 90%;
      margin-left: .3rem;
   }
   .desc h5 {
    
    color: #1a4e8a;
   }
   .title {
    
      width: 90%;
      margin-bottom: 0.2rem;
    
   }
   .title h1 {
    font-size: 6rem;
  }
    .grid {
      margin: auto;
      width: 50rem;
      grid-template-columns: 22rem 22rem;
      grid-column-gap: 1rem;
      
    }
  .l_name {
    grid-row: 1 / 2;
  }
  .i_fullname {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
  .l_phone {
    grid-row: 3 / 4;
        grid-column: 1 / 2;
  }
  .l_email {
   
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

 
  .l_message {
    grid-row: 5 / 6;
  }

  .i_phone {
    grid-row: 4 / 5;
        grid-column: 1 / 2;

   }

   .i_email {
    grid-row: 4 / 5;
        grid-column: 2 / 3;
  }

.i_message {
  grid-row: 7 / 14;
  grid-column: 1 / 3;
}
  .button {
    grid-row: 15 / 18;
    
  
  }
  
 
  }
  
  
  
  