.section {
 
  background-color: rgb(18, 176, 213);
  background: cover;
  padding: 0;
}



.grandstander {
  color: #1a4e8a;
}
.cormorant {
  color: #fff;
}
.grid1 {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
  grid-template-areas:
  "title title image image"
  "desc desc desc desc";
  margin-bottom: 100px;
}
.title {
 grid-area: title;
  padding: 7rem 4rem;
}
.image {
  grid-area: image;
  
  padding: 2rem 0rem;
}

.desc {
  grid-area:desc;
  padding: 3rem 4rem;
}



.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}


.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
 
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 1rem;
  }
  .grid1 {
    grid-template-columns: auto;
    grid-template-areas:
     "title"
     " image" 
     " desc";
    grid-template-rows: auto;
    justify-items: center;
    margin-bottom: 100px;
    text-align: center;
  }
  .title {
    min-width: 0;
    padding: .5rem .5rem;
  }
  .image {
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 0rem 2rem;
    margin-left: -4.25;
  }
  .desc {
    min-width: 0;
    max-width: 100%;
    
    padding-left: 2rem;
  }
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  
  

  .center::before {
    transform: none;
    height: 300px;
  }


  

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
  .grid1 {
    grid-template-rows: auto;
    margin-bottom: 100px;
    text-align: center;
  }
  .title {
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 1rem 0rem;
  }
  .image {
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
    
    padding: 2rem 0rem;
  }
  .desc {
    min-width: 0;
    max-width: 100%;
    overflow: hidden;
    padding: 1rem 0rem;
  }
}



@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}



