@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */
a {
    padding-bottom: .5rem;
    border-bottom: solid;
}
blockquote {
    font-family: 'Sometimes Times BETA';
    font-weight: 400;
    line-height: 1.6em;
    font-size: 2rem;
    font-style: italic;
    margin: 3.2rem 0 1.5rem 0;
    border-left: 0.25rem solid #ee9b27;
    border-left-color: rgb(238, 155, 39);
    border-left-style: solid;
    border-left-width: 0.25rem;
    padding: 0 1.6 0 2em;
  }

h4 {
line-height: 2.5rem;

}
/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.slider {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  
  position: relative;
  overflow: hidden; 
  
  border-radius: 2rem;
}

.slide {
  width: 100%;
  max-width: 100vw;
  
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  max-width: 100vw;
  
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  transition: all 0.5s;
  object-fit: cover;
}

.btn {

  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 25%;
  left: 2%;
}

.btn-next {
  top: 25%;
  right: 2%;
}