
.section {
    background-color: #fff,
    }
    .main {
      display: inline-block;
    min-width: 50%;
    max-width: 100%;
    width: calc((480px - 100%) * 480);
    margin: auto;
    }
    .pink {
      color: #ff44cc;
     }
      .grandstander {
        color: #1a4e8a;
      }
      .cormorant {
        color: #fff;
      }
      .desc {
         font-size: 1.3rem;
        margin-top: 0;
        width: 20rem;
        margin-left: .3rem;
     }
     .desc h5 {
      font-size: 2rem;
      color: #1a4e8a;
     }
     .m_title {
        width: 20rem;
        margin-bottom: 0.2rem;
     }
     .m_title h1 {
      font-size: 2.5rem;
    }
    .product {
      padding: 1rem;
      display: grid;
      grid-auto-rows: 2rem;
      grid-row-gap: 0.7rem;
      width: 20rem;
      }
    
      .t_title {
        font-size: 2rem;
        display: grid;
        width: 100%; 
        grid-row: 1 / 6;
      }
      .t_image {
        font-size: 1rem;
        display: grid;
        width: 100%; 
        grid-row: 7 / 14;
      }
     .t_desc {
      display: grid;
        width: 100%; 
        grid-row: 15 / 23;
     }
      .description {
        font-size: 1.5rem;
      
      }

    .t_ppb {
      display: grid;
      grid-row: 23/25;
    }
      
        .t_price {
        font-size: 2rem;
        width: 100%; 
        
      }
      .t_button {
        
        font-size: 2rem;
        font-weight: bold;
        border-radius: 4px;
        padding: 1rem 2rem;
        border: none;
       background-color: rgb(18, 176, 213);
        color: white;
        position: relative;
    
       
          }
          .s_title {
            font-size: 2rem;
            display: grid;
            width: 100%; 
            grid-row: 26 /28;
          }
          .s_image {
            font-size: 1rem;
            display: grid;
            width: 100%; 
            grid-row: 28/35 ;
          }
         .s_desc {
          display: grid;
            width: 100%; 
            grid-row: 35 / 43;
         }
          .description {
            font-size: 1.5rem;
          
          }
         
        .s_ppb {
          display: grid;
          grid-row: 43/45;
        }
     
              .p_title {
                font-size: 2rem;
                display: grid;
                width: 100%; 
                grid-row: 46 / 50;
              }
              .p_image {
                font-size: 1rem;
                display: grid;
                width: 100%; 
                grid-row: 51/58;
              }
             .p_desc {
              display: grid;
                width: 100%; 
                grid-row: 58 / 66;
             }
              .description {
                font-size: 1.5rem;
              
              }
             
            .p_ppb {
              display: grid;
              grid-row: 66/69;
            }
          
                  .tp_title {
                    font-size: 2rem;
                    display: grid;
                    width: 100%; 
                    grid-row: 69/75;
                  }
               
                  .description {
                    font-size: 1.5rem;
                  
                  }
                  .tp_image {
                    font-size: 1rem;
                    display: grid;
                    width: 100%; 
                    grid-row: 76 / 83;
                  }
                  .tp_desc {
                    display: grid;
                      width: 100%; 
                      grid-row: 83 / 85;
                   }
                .tp_ppb {
                  display: grid;
                  grid-row: 87/89;
                }
                
          @media (min-width: 40rem) {
            .main {
              max-width: 51rem;
                margin: 0 auto;
            }
            .desc {
        
              font-size: 3rem;
              margin-top: 0;
              width: 90%;
              margin-left: .3rem;
           }
           .desc h5 {
            
            color: #1a4e8a;
           }
           .m_title {
            
              width: 90%;
              margin-bottom: 0.2rem;
            
           }
           .m_title h1 {
            font-size: 6rem;
          }
    
          .product {
            padding: 1rem;
            display: grid;
            grid-auto-columns: 2rem;
            grid-row-gap: 0.7rem;
            
            }
          
            .t_title {
              font-size: 2rem;
              display: grid;
              width: 100%; 
              grid-column: 1 / 8;
              grid-row: 1 /7;
            }
            .title h2 {
                font-size: 2rem;
            }
            .t_image {
                font-size: 1rem;
                display: grid;
                width: 100%; 
                grid-column: 9 / 18;
                grid-row: 1 / 10;
              }
           .t_desc {
            display: grid;
              width: 100%; 
              grid-column: 19 / 30;
              grid-row:1 / 10;
           }
            
          .t_ppb{
            display: grid;
            grid-column: 1 / 3;
            grid-row: 9/13;
          }
           
              .t_price {
              font-size: 2rem;
              width: 100%; 
              
            }
            .t_button {
              
              font-size: 2rem;
              font-weight: bold;
              border-radius: 4px;
              padding: 1rem 2rem;
              border: none;
             background-color: rgb(18, 176, 213);
              color: white;
              position: relative;
              width: 15rem;
            
          }
        
          .s_title {
            font-size: 2rem;
            display: grid;
            width: 100%; 
            grid-column: 1 / 8;
            grid-row: 11 /12;
          }
          .s_image {
            font-size: 1rem;
            display: grid;
            width: 100%; 
            grid-column: 9 / 18;
            grid-row: 11 / 20;
          }
         .s_desc {
          display: grid;
            width: 100%; 
            grid-column: 19 / 30;
            grid-row:11 / 20;
         }
       
        .s_ppb{
          display: grid;
          grid-column: 1 / 3;
          grid-row: 11 / 14;
        }
         

        .p_title {
            font-size: 2rem;
            display: grid;
            width: 100%; 
            grid-column: 1 / 8;
            grid-row: 21 /22;
          }
          .p_image {
            font-size: 1rem;
            display: grid;
            width: 100%; 
            grid-column: 9 / 18;
            grid-row: 21 / 30;
          }
         .p_desc {
          display: grid;
            width: 100%; 
            grid-column: 19 / 30;
            grid-row:21 / 30;
         }
    
        .p_ppb{
          display: grid;
          grid-column: 1 / 3;
          grid-row: 21 / 24;
        }
         

        .tp_title {
            font-size: 2rem;
            display: grid;
            width: 100%; 
            grid-column: 1 / 8;
            grid-row: 31 /32;
          }
          .tp_image {
            font-size: 1rem;
            display: grid;
            width: 100%; 
            grid-column: 9 / 18;
            grid-row: 31 / 40;
          }
         .tp_desc {
          display: grid;
            width: 100%; 
            grid-column: 19 / 30;
            grid-row: 31 / 40;
         }
  
        .tp_ppb{
          display: grid;
          grid-column: 1 / 3;
          grid-row:31/ 34;
        }
         
        }