.section {
 
    background-color: rgb(18, 176, 213);
    background: cover;
    padding: 0;
    
  }
  
  
  
  .grandstander {
    color: #1a4e8a;
  }
  .cormorant {
    color: #fff;
  }
  .grid1 {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
    grid-template-areas:
    "title title title title"
    "desc desc desc desc"
    "title_2 title_2 title_2 title_2"
    "desc_2 desc_2 desc_2 desc_2";
    
  }
  .title {
   grid-area: title;
    padding: 7rem 4rem;
  }

  .desc ul li::marker {
    content: "✅";
    display: inline-block;
     margin-right: 0.2rem;
  }
  .desc {
    grid-area:desc;
    padding: 3rem 4rem;
  }
  .desc ul li::marker {
    content: "✅";
    display: inline-block;
     margin-right: 0.2rem;
  }
  .desc li {
    font-size: 32px;
    color: #1a4e8a;
    font-weight: 700;
  }
  .title_2 {
    grid-area: title_2;
     padding: 7rem 4rem;
   }
 
  .desc_2 {
    grid-area:desc_2;
    padding: 3rem 4rem;
  }
  .desc_2 ul li::marker {
    content: "✅";
    display: inline-block;
     margin-right: 0.2rem;
  }
  .desc_2 li {
    font-size: 32px;
    color: #1a4e8a;
    font-weight: 700;
  }
  @media (max-width: 400px) {

    .grid1 {
      grid-template-columns: 380px;
      grid-template-areas:
       "title" 
       "desc"
       "title_2" 
       "desc_2";
      grid-template-rows: auto;
      justify-items: center;
      
      max-width: min-content;
      
    }
  .title {
    padding-top: 3rem;
    margin-left: 0rem;
  }
  
  .title h1 {
    font-size: 6rem;
  }
  .desc {
    grid-area:desc;
    padding: 3rem 4rem;
  }
  .title_2 {
    grid-area: title_2;
    padding-top: 3rem;
    margin-left: 0rem;
   }
 
  .desc_2 {
    grid-area:desc_2;
    padding: 3rem 4rem;
  }
  .desc_2 ul li::marker {
    content: "✅";
    display: inline-block;
     margin-right: 0.2rem;
  }
  .desc_2 li {
    font-size: 32px;
    color: #1a4e8a;
    font-weight: 700;
  }
}
  @media (min-width: 401px) and (max-width: 700px) {
    .content {
      padding: 1rem;
    }
    .main {
      max-width: 380px;
    }
    .grid1 {
      grid-template-columns: 300px;
      grid-template-areas:
       "title"
        "desc"
        "title_2"
        "desc_2";
      grid-template-rows: auto;
      justify-items: center;
      
      max-width: min-content;
      
    }
    .title {
      min-width: 0;
      padding: .5rem .5rem;
      margin-left: 6rem;
    }
    .desc {
      grid-area:desc;
      padding: 3rem 4rem;
    }
    .title_2 {
      grid-area: title_2;
      min-width: 0;
      padding: .5rem .5rem;
      margin-left: 6rem;
     }
   
    .desc_2 {
      grid-area:desc_2;
      padding: 3rem 4rem;
    }
    .desc_2 ul li::marker {
      content: "✅";
      display: inline-block;
       margin-right: 0.2rem;
    }
    .desc_2 li {
      font-size: 32px;
      color: #1a4e8a;
      font-weight: 700;
    }
}
@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
      grid-template-columns: repeat(2, 50%);
    }
    .grid1 {
      grid-template-rows: auto;
      margin-bottom: 100px;
      text-align: center;
    }
    .title {
      min-width: 0;
      max-width: 100%;
      overflow: hidden;
      padding: 1rem 0rem;
    }
}