
.section {
background-color: #fff,
}
.main {
  display: inline-block;
min-width: 50%;
max-width: 100%;
width: calc((480px - 100%) * 480);
margin: auto;
}
.pink {
  color: #ff44cc;
 }
  .grandstander {
    color: #1a4e8a;
  }
  .cormorant {
    color: #fff;
  }
  .desc {
     font-size: 1.3rem;
    margin-top: 0;
    width: 20rem;
    margin-left: .3rem;
 }
 .desc h5 {
  font-size: 2rem;
  color: #1a4e8a;
 }
 .m_title {
    width: 20rem;
    margin-bottom: 0.2rem;
 }
 .m_title h1 {
  font-size: 2.5rem;
}
.product {
  padding: 1rem;
  display: grid;
  grid-auto-rows: 2rem;
  grid-row-gap: 0.7rem;
  width: 20rem;
  }

  .title {
    font-size: 2rem;
    display: grid;
    width: 100%; 
    grid-row: 1 / 2;
  }
 .desc {
  display: grid;
    width: 100%; 
    grid-row: 11 / 19;
 }
  .description {
    font-size: 1.5rem;
  
  }

  

  .image {
    font-size: 1rem;
    display: grid;
    width: 100%; 
    grid-row: 3 / 10;
  }

  .price-button-container {
    display: grid;
    grid-row: 19/22;
    
  }
    .price {
    font-size: 2rem;
    width: 100%; 
    
  }
  .button {
    
    font-size: 2rem;
    font-weight: bold;
    border-radius: 4px;
    padding: 1rem 2rem;
    border: none;
   background-color: rgb(18, 176, 213);
    color: white;
    position: relative;

   
      }
      @media (min-width: 40rem) {
        .main {
          max-width: 51rem;
            margin: 0 auto;
        }
        .desc {
    
          font-size: 3rem;
          margin-top: 0;
          width: 90%;
          margin-left: .3rem;
       }
       .desc h5 {
        
        color: #1a4e8a;
       }
       .m_title {
        
          width: 90%;
          margin-bottom: 0.2rem;
        
       }
       .m_title h1 {
        font-size: 6rem;
      }

      .product {
        padding: 1rem;
        display: grid;
        grid-auto-columns: 2rem;
        grid-row-gap: 0.7rem;
        
        }
      
        .title {
          font-size: 2rem;
          display: grid;
          width: 100%; 
          grid-column: 1 / 2;
        }
       .desc {
        display: grid;
          width: 100%; 
          grid-column: 11 / 19;
       }
        .description {
          font-size: 1.5rem;
        
        }
      
        
      
        .image {
          font-size: 1rem;
          display: grid;
          width: 100%; 
          grid-column: 3 / 10;
        }
      
        .price-button-container {
          display: grid;
          grid-column: 19/22;
          
        }
          .price {
          font-size: 2rem;
          width: 100%; 
          
        }
        .button {
          
          font-size: 2rem;
          font-weight: bold;
          border-radius: 4px;
          padding: 1rem 2rem;
          border: none;
         background-color: rgb(18, 176, 213);
          color: white;
          position: relative;
        
      }
    
    }