.section {
    
    background-color: rgb(146, 115, 206);
    background: cover;
  
  }
    .grandstander {
      color: #1a4e8a;
    }
    .cormorant {
      color: #fff;
    }
    
    .top {
      display: grid;
      grid-template-columns: repeat(4, minmax(25%, auto));
      grid-template-areas: 
      "story_title story_title story_title story_title"
      "grid grid grid grid"
      ;
      width: var(--max-width);
      max-width: 100%;
      margin-bottom: 7rem;
      margin-left: 5rem;
    }

    .story_title {
      grid-area: story_title;
  padding: 7rem 4rem;
    }
    
    .dogs {
      grid-area: grid;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3rem 2rem;
      max-width: 90%;
    }
    
    .d_desc {
      
      margin-left: 2rem;
    }
    .d_image {
     
      padding: 1rem 1.2rem;
      border-radius: var(--border-radius);
      background: rgba(var(--card-rgb), 0);
      border: 1px solid rgba(var(--card-border-rgb), 0);
      transition: background 200ms, border 200ms;
      width: fit-content;
    }
    
    .d_image span {
      display: inline-block;
      transition: transform 200ms;
    }
    
    .d_image h2 {
      font-weight: 600;
      margin-bottom: 0.7rem;
    }
    
    .d_image p {
      margin: 0;
      opacity: 0.6;
      font-size: 0.9rem;
      line-height: 1.5;
      max-width: 30ch;
    }
    .humans {
      
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3rem 2rem;
      max-width: 90%;

    }
    .h_card {
      grid-area: h_card;
    }
    .h_image {
      
      max-width: 90%;
    }
    
    /* Enable hover only on non-touch devices */
    @media (hover: hover) and (pointer: fine) {
      .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
      }
    
      .card:hover span {
        transform: translateX(4px);
      }
    }
    
    @media (prefers-reduced-motion) {
     
      .card:hover span {
        transform: none;
      }
    }
    
    /* Mobile */
    @media (max-width: 700px) {
      .content {
        padding: 1rem;
      }
      .top {
        display: grid;
        grid-template-columns: repeat(4, minmax(25%, auto));
        grid-template-areas: 
        "story_title" 
        "dogs" 
         ;
        width: var(--max-width);
        max-width: 100%;
        text-align: center;
        margin-bottom: 7rem;
      }
  
      .story_title {
        grid-area: story_title;
    padding: 0rem 0rem;
      }
      
  
 
     
   
      .humans {
        
        display: flex;
        flex-direction: row;
        
        justify-content: center;
        align-items: center;
        gap: 3rem 2rem;
        max-width: 90%;
  
      }
      
    
   
    
    
    
    .h1 {
      font-size: 4rem;
    
    }
    
     
  
    }
    
    /* Tablet and Smaller Desktop */
    @media (min-width: 701px) and (max-width: 1120px) {
      .dogs {
        grid-template-columns: repeat(2, 50%);
      }
 
    }
    
    @media (prefers-color-scheme: dark) {
      .vercelLogo {
        filter: invert(1);
      }
    
      .logo,
      .thirteen img {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
      }
    }
    
    @keyframes rotate {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
    