  
      .section {
        background-color: rgb(146, 115, 206);
        background: cover;
      }
      .main {
        margin: auto;
      }
      
      .top {
        display: grid;
        grid-template-columns: 20rem;
        grid-template-areas: 
        "story_title" 
        "dogs"
        "h_title" 
        "humans" ;
        
        margin-bottom: 7rem;
        margin-left: 2rem;
      }
      .story_title {
        grid-area: story_title;
    padding: 2rem;
    width: 20rem;
      }

      .dogs {
        grid-area: dogs;
        display: flex;
        flex-direction: column;
      }
      .humans {
        grid-area: humans;
        display: flex;
        flex-direction: column;
      }
    
    .h1 {
      font-size: 4rem;
    
    }

@media (min-width: 40rem) {

.main {
  max-width: 80rem;
  margin: auto;
}
    .grandstander {
      color: #1a4e8a;
    }
    .cormorant {
      color: #fff;
    }
    
    .top {
      display: grid;
      grid-template-columns: repeat(4, minmax(25%, auto));
      grid-template-areas: 
      "story_title story_title story_title story_title"
      "dogs dogs dogs dogs"
      "h_title h_title h_title h_title"
      "humans humans humans humans"
      ;
      
      
      margin-bottom: 7rem;
      
    }

    .story_title {
      grid-area: story_title;
      
    }
    .story_title p {
      padding-top:5rem;
    }
    
    .dogs {
      grid-area: dogs;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      
     
    }
    
    .d_desc {
      
      margin-left: 2rem;
      width: 10rem;
    }
    .d_image {
      padding: 1rem 1.2rem;
      border-radius: var(--border-radius);
      background: rgba(var(--card-rgb), 0);
      border: 1px solid rgba(var(--card-border-rgb), 0);
      transition: background 200ms, border 200ms;
      width: fit-content;
    }
    
    .d_image span {
      display: inline-block;
      transition: transform 200ms;
    }
    
    .d_image h2 {
      font-weight: 600;
      margin-bottom: 0.7rem;
    }
    
    .d_image p {
      margin: 0;
      opacity: 0.6;
      font-size: 0.9rem;
      line-height: 1.5;
      
    }
    .h_title {
      grid-area: h_title;
      padding: 7rem 4rem;
    }
    .humans {
      grid-area: humans;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3rem 2rem;
      max-width: 90%;
    }
   
    .h_card {
      
      padding: 1rem 1.2rem;
      border-radius: var(--border-radius);
      background: rgba(var(--card-rgb), 0);
      border: 1px solid rgba(var(--card-border-rgb), 0);
      transition: background 200ms, border 200ms;
      width: fit-content;
    }
  
    .h_card span {
      display: inline-block;
      transition: transform 200ms;
    }
    .h_desc {
      margin-left: 2rem;
      width: 10rem;
    }
  }
    /* Enable hover only on non-touch devices */
    @media (hover: hover) and (pointer: fine) {
      .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
      }
      .card:hover span {
        transform: translateX(4px);
      }
    }
    @media (prefers-reduced-motion) {
      .card:hover span {
        transform: none;
      }
    }
    
    /* Mobile */
  
    
     
  
    
    
    /* Tablet and Smaller Desktop */
    @media (min-width: 701px) and (max-width: 40rem) {
      .dogs {
        grid-template-columns: repeat(2, 50%);
      }
 
    }
    
    @media (prefers-color-scheme: dark) {
      .vercelLogo {
        filter: invert(1);
      }
    
      .logo,
      .thirteen img {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
      }
    }
    
    @keyframes rotate {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
    