.section {
    
    background-color: rgb(146, 115, 206);
    background: cover;
  
  }
    .grandstander {
      color: #1a4e8a;
    }
    .cormorant {
      color: #fff;
    }
    
    .grid2 {
      display: grid;
      grid-template-columns: repeat(4, minmax(25%, auto));
      width: var(--max-width);
      max-width: 100%;
      margin-bottom: 7rem;
    }

    .title {
      grid-area: title;
  padding: 7rem 4rem;
    }
    
    .grid {
      grid-area: grid;
      display: grid;
      grid-template-columns: repeat(4, minmax(25%, auto));
      grid-template-areas: 
      "title title title title"
      "grid grid grid grid"
      "humans humans humans humans";
      width: var(--max-width);
      max-width: 90%;
    }
    
    .desc {
      margin-left: 2rem;
    }
    .card {
      padding: 1rem 1.2rem;
      border-radius: var(--border-radius);
      background: rgba(var(--card-rgb), 0);
      border: 1px solid rgba(var(--card-border-rgb), 0);
      transition: background 200ms, border 200ms;
      width: fit-content;
    }
    
    .card span {
      display: inline-block;
      transition: transform 200ms;
    }
    
    .card h2 {
      font-weight: 600;
      margin-bottom: 0.7rem;
    }
    
    .card p {
      margin: 0;
      opacity: 0.6;
      font-size: 0.9rem;
      line-height: 1.5;
      max-width: 30ch;
    }
    .humans {
      grid-area: humans;
      display: grid;
      grid-template-columns: repeat(2, minmax(50%, auto));
      grid-template-areas: 
      "overflow overflow"
      "image image"
      "humans humans humans humans";
      width: var(--max-width);
      max-width: 90%;

    }
    .image {
      display: grid;
      grid-template-columns: repeat(2, minmax(50%, auto));
      grid-template-areas: 
      "card desc"
      "card desc";
      width: var(--max-width);
      max-width: 90%;
    }
    
    /* Enable hover only on non-touch devices */
    @media (hover: hover) and (pointer: fine) {
      .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
      }
    
      .card:hover span {
        transform: translateX(4px);
      }
    }
    
    @media (prefers-reduced-motion) {
     
      .card:hover span {
        transform: none;
      }
    }
    
    /* Mobile */
    @media (max-width: 700px) {
      .content {
        padding: 1rem;
      }
      .overflow {
        max-width: 310px;
        margin-left: 0rem;
      }
  
 
      .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
        max-width: 320px;
        text-align: center;
      }
   
      .grid2 {
        display: grid;
        grid-template-columns: repeat(1, minmax(100%, auto));
        width: var(--max-width);
        max-width: 320px;
        text-align: center;
        margin-bottom: 7rem;
      }
      
    
   
    
      .card h2 {
        margin-bottom: 0.5rem;
      }
    
    
    .h1 {
      font-size: 4rem;
    
    }
    
     
  
    }
    
    /* Tablet and Smaller Desktop */
    @media (min-width: 701px) and (max-width: 1120px) {
      .grid {
        grid-template-columns: repeat(2, 50%);
      }
 
    }
    
    @media (prefers-color-scheme: dark) {
      .vercelLogo {
        filter: invert(1);
      }
    
      .logo,
      .thirteen img {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
      }
    }
    
    @keyframes rotate {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
    